@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ea6716;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-title.h5{
  font-size: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle.h6
{
  font-size: 15px;
}

.justify-content-center.navbar.navbar-expand.navbar-light {
  background-color: #1b5633;
}

.nav-link
{
  color: #ea6716;
}
.p.a {
  color: #ea6716;
}

.form-label
{
  color: #ea6716;
}

#checkout-form{
  font-size:large;
  padding: 15px;
}

.card {
  background-color: #1b5633;
}